/* * = CONTACTO- PREGUNTAS FRECUENTES*/
.accordion-button:not(.collapsed) {
    background-image: linear-gradient(90deg, #f76c1cce 0%, #fac261 100%);
    color: #333;
    box-shadow: none; }




/* * = CONTACTO- FORMULARIO*/
.container_form {
    max-width: 1170px;
    margin: auto;
    padding: 1em;
    .contact {
        background: #F9FEFF;
        padding-top: 10px;
        padding-bottom: 10px;
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0px;
            button {
    background: $color-gradient2;
    border: 0;
    text-transform: uppercase;
    &:hover {
        background: $color-gradient1;
        color: $color-p;
        font-weight: bolder;
        outline: 0;
        transition: background-color 2s ease-out;
    }
}
            .full {
                grid-column: 1 / 3;
            }
        }
        }
}

.company-info {
    background: #eaecee;
    background-image: url("../assets/fondo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    }

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    &>* {
        padding: 1em;
    }
}



.contact form button,.contact form input,.contact form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #C9E6FF;
}
