
/* LARGE SCREENS */
@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em;
    }

}

/* PAGINA PRODUCTOS media */
@media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}