/* FOTTER*/

.pie-pagina {
    background-image: url(../assets/fondo_prueba14.png);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-right: 0px;
    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 10px 0px;
        &__box {
            color: $color-second;
            text-shadow: 1px 1px $color-text-shadow;
            margin-bottom: 10px;
            font-size: 20px;
            text-align: center;
            &__h2 {
                font-size: 2.5rem;
                text-align: center;
                font-weight: 600;
                margin-bottom: 10px;
                font-family: $font-brand;
                color: $color-primary;
            }
        }
    }
    .grupo-2 {
        background-image: linear-gradient(90deg, $color-gradient1 0%, $color-gradient2 100%);
        padding: 15px 10px;
        text-align: center;
        color: $color-p;
        & small {
            font-size: 15px;
        }
    }
}

.red-social {
    float: inline-start;
    a {
        display: inline-block;
        text-decoration: none;
        @include tamanio(45px,45px);
        line-height: 45px;
        color: $color-p;
        margin-right: 10px;
        background-image: linear-gradient(90deg, $color-gradient1 0%, $color-gradient2 100%);
        text-align: center;
        transition: all 300ms ease;
        border-radius: 10px;
        &:hover {
            color: $color-second;
        }
    }
}

