//vars colors//
$color-primary:#DC5F00;
$color-second:#a5214b;
$color-background:#f0791dfe;
$color-background-btn:#fcfafa;
$color-background-body:#eaecee;

$color-p:#060606;
$color_price:#088178;
$color-gradient1:#f76c1cce;
$color-gradient2:#fac261;
$color-text-shadow:#333;
$color-box-shadow:#7d7c7c;

//vars font//
$font-brand:Roboto;
$font-titles:Rubik;
$font-p:Lato;

